    /*********** COLORS ************/
    $purple-primary: #635fc7;
    $purple-secondary: #aba4ff;

    $black-01: #000112;
    $black-02: #20212c;
    $black-03: #2b2c37;

    $grey-01: #828fa3;
    $grey-02: #e4ebfa;
    $grey-03: #f4f7fd;

    
    $white: #ffffff;
    
    $red-primary: #ea5555;
    $red-secondary: #ff9898;
    
    $btn-bg: #efeff9;
    $hover-btn-bg: #635fc740;

    $border-color: #979797;